<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/lenovo/IdeaProjects/SDACapStoneGP2/src/test/java/tests/userModuleProcess/US00015.java">
        <classes>
            <class name="tests.userModuleProcess.US00015">
                <methods>
                    <include name="asserTheUserExists"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>